body,
#blocklyDiv {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#codePreview {
  position: absolute;
  top: 1em;
  right: 1em;
  width: max-content;
  max-height: calc(100vh - 2em);
  overflow: auto;
  opacity: 50%;
}

#waterMark {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 4em;
  height: 4em;
  background: url(../logo.svg) 100%;
  opacity: 50%;
}
